<!-- templates/registration/login.html -->
{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="login-form-container">
  <h2>Tu es déjà un joueur ?</h2>
  <p> Connecte-toi avec ton nom et mot de passe</p>
  <br/>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn-signup">Se connecter</button>
  </form>
  <br>
  <br>
  <br>
  <h2>Nouveau dans l'aventure ?</h2>
  <p> Aucun problème, pour jouer clique sur le bouton ci-dessous pour créer un compte très rapidement.</p>
  <a href="{% url 'signup' %}" class="btn-signup">Créer un nouveau compte</a>
</div>
{% endblock %}