<!-- templates/registration/login.html -->
{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="login-form-container">
  <h2>Se connecter</h2>
  <br/>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Se connecter</button>
  </form>
  <br>
  <br>
  <br>
  <h2>Nouveau dans l'aventure ?</h2>
  <p>Rentre ton nom et choisi un mot de passe de ton choix</p>
  <form method="POST" action="../signup/">
    {% csrf_token %}
    <p>Nom:
    <input type="text" name="username" /></p>
    <p>Mot de passe:
    <input type="password" name="password" /></p>
    <input type="submit" />
  </form>
</div>
{% endblock %}